.best_works_list_item
    margin-bottom: 96px
    position: relative

    .best_work_link
        display: flex
        flex-direction: column
        gap: 8px
        color: #E7E7E7
        text-align: center
        font-family: Onest
        font-weight: 300
        line-height: 150%
        position: absolute
        right: 758px
        top: 50%
        transform: translate(-50%, 0)

        span
            width: fit-content

    .best_work_figure
        display: flex
        gap: 102px
        justify-content: space-between
        flex-direction: row-reverse

        .best_work_name
            color: var(--Primary-light, #E7E7E7)
            font-family: Tektur
            font-size: 64px
            font-weight: 500
            line-height: 120%
            letter-spacing: 3.2px
            margin: 0 0 32px 0

        .best_work_descr
            color: var(--Greyscale-light, #B3B3B3)
            font-family: Onest
            font-size: 18px
            font-weight: 500
            line-height: 120%
            margin: 0 0 16px 0

        .best_work_year
            color: var(--Greyscale-light, #B3B3B3)
            font-family: Onest
            font-weight: 300
            line-height: 150%

        // .best_work_img 
        //     width: fit-content
        //     height: fit-content
        //     max-height: 500px

.all_cases
    border-radius: 100px
    border: 1px solid #E7E7E7
    padding: 16px 64px
    color: #E7E7E7
    font-family: Onest
    font-size: 28px
    font-weight: 500
    line-height: 150%
    margin: 0 auto
    display: block
    width: fit-content

    &:hover
        background: #E7E7E7
        color: #161616
