html
    scroll-behavior: smooth

    body
        background: var(--Primary-black, #161616)

        *
            color: #fff
            box-sizing: border-box
            transition-duration: 0.5s

        section
            margin-bottom: 128px

        figure
            margin: 0

        a
            text-decoration: none

            &:hover
                color: #3bff5b

                *
                    color: #3bff5b
                    fill: #3bff5b


        .container
            position: relative
            max-width: 1400px
            margin: 0 auto

        .reset_ul
            padding: 0
            list-style-type: none
            margin: 0