.header
    position: fixed
    z-index: 999
    width: 100%
    padding: 0 80px
    max-width: 1400px
    left: 50%
    transform: translateX(-50%)

    .header_nav_menu
        display: flex
        align-items: center
        justify-content: space-between
        color: var(--Greyscale-light, #B3B3B3)
        font-family: Onest
        font-size: 18px
        font-style: normal
        font-weight: 500
        line-height: 120%

        .header_menu 
            display: flex
            align-items: center
            gap: 32px