.general_banner
    position: relative
    overflow: hidden
    padding: 0 62px
    height: 754px
    display: flex
    flex-direction: column
    justify-content: center
    border-radius: 0px 0px 40px 40px
    background: radial-gradient(162.51% 100% at 50% 0%, #1B1B1B 46.35%, #136420 75%, #3BFF5B 99.99%, #3BFF5B 100%, #388E46 100%), #1B1B1B

    .banner_title
        color: var(--Primary-light, #E7E7E7)
        font-family: Tektur
        font-size: 142px
        font-style: normal
        font-weight: 500
        line-height: 120%
        letter-spacing: 7.1px
        text-transform: uppercase
        margin: 0
        z-index: 2

    .subtitle_banner_link
        color: var(--Primary-light, #E7E7E7)
        font-family: Onest
        font-size: 24px
        font-style: normal
        font-weight: 500
        line-height: 120%
        text-transform: lowercase
        z-index: 2

